{% extends "base.html" %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor_Page</title>

</head>

<body>
    <main>
        <DIV class="donor-reset-section">
            <div class="boxc">
                <h2> Password Reset</h2>
                <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you
                    to reset it</p>
                <div>

                    <input type="text" placeholder=" E-mail address">

                </div>

                <button> Reset My Password</button>

                <a href="{% url 'donorLogin' %}">Login
                    <i class="fa-solid fa-angles-right"></i>

                </a>

            </div>

        </DIV>

    </main>

</body>

</html>
{% endblock%}