{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css\style.css' %}">
    <style>
        .heart-hand {
          font-size: 24px;
          line-height: 1;
        }
      </style>


</head>

<body>
    <header>
        <div class="navbar">
            <div class="logowithbrandname">
                <div class="h1">
                    <img id="logo" src="static\images\heart2.png" ; alt="logo">
                    <div class="brand">
                        <a class="brandname" href="#home"> GivingWay</a>
                    </div>
                    
                </div>
                
                <!-- <div class="heart-hand">&#128155;</div> -->
                

            </div>
            <div class="menu">
                <a class="home" href="#home"> Home</a>
                <a class="about us" href="#about us"> About Us</a>
                <a class="ourservices" href="#our services"> Our Services</a>
                <a class="contact us" href="#contact us">Contact Us</a>
                <a class="blog" href="#"> Blog</a>
                <a class="login" href="{% url 'allLogin' %}"> Login</a>

            </div>
        </div>

    </header>


    <main>
        <!-- start HOME -->
        <div class="container" id="home">
            <div class="boxmain" id="box1">
                <h1> Reduce Wastage of Needy Items To Needy Person </h1>
                <br>
                <p>Helps Others Without Any Reason And Give Without The Exception Of Receiving Anything in Return.</p>
                <br>
                <p> “No act of kindness, no matter how small, is ever wasted.” “A man there was, and they called him
                    mad; the more he gave, the more he had.” “Service to others is the rent you pay for your room here
                    on earth.” “The simplest acts of kindness are by far more powerful then a thousand heads bowing in
                    prayer.” </p>
                <br>
                <a href="{% url 'donorLogin' %}">Donate Now
                    <i class="fa-solid fa-angles-right"></i>
                </a>
                <a href="{% url 'volunteerLogin' %}"> Volunteer Now
                    <i class="fa-solid fa-angles-right"></i>
                </a>

            </div>
            <div class="box" id="box2">
                <img src="static\images\img19.png" alt="#">
            </div>
        </div>


        <!-- END HOME -->

        <!-- START ABOUT US -->
        <div class="container-0" id="about us">
            <div class="box" id="box3">
                <img src="static\images\about.png" alt="#">

            </div>
            <div class="box" id="box4">
                <h2 style="font-size: xx-large; color: white;">About Us</h2>
                <br>
                <p>

                   "At GivingWay, we're all about giving and helping others. When you donate to us, you're making a big
                    difference in the lives of people who need it most. Your support helps us tackle important problems
                    and make positive changes in our communities. Whether it's providing food for the hungry, donate
                    clothes for the poor, or education for children by providing books and noteboks, every donation
                    counts. Join us in our mission to spread kindness and make the world a better place for everyone.
                    Together, we can create a brighter future and build stronger, healthier communities. With your help,
                    we can make a real difference and bring hope to those who need it most. Thank you for being a part
                    of our journey!"
                </p>
                <br>
                <a href="#"> Read More
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>

        </div>

        <!-- END ABOUT US -->


        <!-- START SERVICES -->
        
        <h2 style="text-align: center; font-style: italic; color: white; ">----OUR SERVICES----
        </h2>

        <div class="service-section" id="our services">
            <div class="box1 box">
                <div class="box-content">
                    <h3>Wastage Food</h3>
                    <div class="box-img" style="background-image:url(static/images/food.jpg)"></div>
                    <a href="{% url 'donorLogin' %}"> Donate Food
                        <i class="fa-solid fa-square-arrow-up-right"></i>
                    </a>
                </div>
            </div>
            <div class="box2 box">
                <div class="box-content">
                    <h3>Wastage Clothes</h3>
                    <div class="box-img" style="background-image:url(static/images/clothes.png)"></div>
                    <a href="{% url 'donorLogin' %}"> Donate Clothes
                        <i class="fa-solid fa-square-arrow-up-right"></i>
                    </a>
                </div>
            </div>
            <div class="box3 box">
                <div class="box-content">
                    <h3>Wastage Books </h3>
                    <div class="box-img" style="background-image:url(static/images/book.png)"></div>
                    <a href="{% url 'donorLogin' %}"> Donate Book
                        <i class="fa-solid fa-square-arrow-up-right"></i>
                    </a>
                </div>
            </div>
            <div class="box4 box">
                <div class="box-content">
                    <h3>Wastage Accoseries</h3>
                    <div class="box-img" style="background-image:url(static/images/otherG.jpg)"></div>
                    <a href="{% url 'donorLogin' %}"> Donate Now
                        <i class="fa-solid fa-square-arrow-up-right"></i>
                    </a>
                </div>
            </div>
            <div class="box4 box">
                <div class="box-content">
                    <h3>Wastage Accoseries</h3>
                    <div class="box-img" style="background-image:url(static/images/otherG.jpg)"></div>
                    <a href="{% url 'donorLogin' %}"> Donate Now
                        <i class="fa-solid fa-square-arrow-up-right"></i>
                    </a>
                </div>
            </div>

        </div>

        <!-- 2nddddddd -->

        <div class="service-section" id="our services">
            <div class="box1 box">
                <div class="box-content">
                    <h3>Wastage Accoseries</h3>
                    <div class="box-img" style="background-image:url(static/images/food.jpg)"></div>
                    <a href="{% url 'donorLogin' %}"> Donate Food
                        <i class="fa-solid fa-square-arrow-up-right"></i>
                    </a>
                </div>
            </div>
            <div class="box2 box">
                <div class="box-content">
                    <h3>Wastage Accoseries</h3>
                    <div class="box-img" style="background-image:url(static/images/clothes.png)"></div>
                    <a href="{% url 'donorLogin' %}"> Donate Clothes
                        <i class="fa-solid fa-square-arrow-up-right"></i>
                    </a>
                </div>
            </div>
            <div class="box3 box">
                <div class="box-content">
                    <h3>Wastage Books </h3>
                    <div class="box-img" style="background-image:url(static/images/book.png)"></div>
                    <a href="{% url 'donorLogin' %}"> Donate Book
                        <i class="fa-solid fa-square-arrow-up-right"></i>
                    </a>
                </div>
            </div>
            <div class="box4 box">
                <div class="box-content">
                    <h3>Others</h3>
                    <div class="box-img" style="background-image:url(static/images/otherG.jpg)"></div>
                    <a href="{% url 'donorLogin' %}"> Donate Now
                        <i class="fa-solid fa-square-arrow-up-right"></i>
                    </a>
                </div>
            </div>
            <div class="box4 box">
                <div class="box-content">
                    <h3>Wastage Footwear</h3>
                    <div class="box-img" style="background-image:url(static/images/otherG.jpg)"></div>
                    <a href="{% url 'donorLogin' %}"> Donate Now
                        <i class="fa-solid fa-square-arrow-up-right"></i>
                    </a>
                </div>
            </div>

        </div>



        <!-- END SERVICES -->

    </main>



    <footer class="footer" id="contact us">
        <div class="container-3">
            <div class="contact">
                <div class="cont">
                    <h3>Contact Us</h3>
                </div>
                <div class="threebox">
                    <div class="phone">
                        <i class="fa-solid fa-phone"></i>
                        <a> +918757723773</a>
                       
                    </div>
                    <div class="email">
                        <i class="fa-solid fa-envelope"></i>
                        <a> sahi@gmail.com</a>
                        
                    </div>
                    <div class="location">
                        <i class="fa-solid fa-location-dot"></i>
                        <a> AkashVihar,Ghaziabad India.</a>
                       
                    </div>
                </div>
                
            </div>

            <div class="follow">
                <div class="foll">
                    <h3>follow Us</h3>
                </div>
                <div class="follbox">
                    <div class="telegram">
                        <i class="fa-brands fa-telegram"></i>
                        <a href="https://Telegram.com/" target="_parent">Telegram
                        </a>
                        </i>
                    </div>
                    <div class="linkdin">
                        <i class="fa-brands fa-linkedin">
                            <a href="https://linkdin.com/" target="_blank">Linkdin
                            </a>
                        </i>
                    </div>
                    <div class="twitter">
                        <i class="fa-brands fa-twitter"></i>
                        <a href="https://linkdin.com/" target="_blank">Twitter
                        </a>
                        </i>
                    </div>
                    <div class="instagram">
                        <i class="fa-brands fa-instagram"></i>
                        <a href="https://linkdin.com/" target="_blank">Instagram
                        </a>
                        </i>
                    </div>
                </div>
               
            </div>

            <div class="help and support">
                <div>
                    <h3>Help & Support</h3>
                </div>
                <hr>
                <label>Join Us</label>
                <br>
                <input type="text" name="email" placeholder="Enter Email">
                <br>
                <br>
                <label>Donat Now</label>
                <br>
                <i class="fa-solid fa-circle-dollar-to-slot"></i>
                <a href="#"> Donat Now
                </a>
            </div>

            <div class="article">
                <div class="higligt">
                    <h3>Lettest Donation</h3>
                </div>
                <hr>
                <br>
                <div>
                    <ul>
                        <li>In Modinagar</li>
                        <li>In Darbhanga DMCH </li>
                        <li>In Modinagar</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="lowerfooter">
            <div class="copyright" id="lf">
                <p>Copyright <i class="fa-solid fa-copyright">
                    </i>
                    {% now "Y" %} All rights reserved

                </p>
            </div>

            <div class="madewith" id="lf">
                <p>This template is made with <i class="fa-solid fa-heart">
                    </i>
                    by sAhi
                </p>
            </div>

        </div>

    </footer>
</body>

</html>